.navbar-brand {
	color: #007ba7 !important;
	font: bold 36px 'Montserrat', sans-serif;
}

footer .navbar-brand {
	display: none !important;
}

#navigation, .pagination, .navbar-toggler {
	display: none !important;
}

.search-wrapper {
	flex-grow: 1;
	padding-left: 25%;
}

.search-wrapper input {
	width: 100% !important;
}

.shortcode-iframe{height: 405px; width: 70%}

@media(min-width : 900px){
.shortcode-iframe{height: 405px; width: 100%}
}